
body {
    line-height: 1.7;
    transition: 0.3s;
    font-family: Ubuntu;
}

/*Handbook page*/

body.night {
    background-color: #111;
    color: #ffffffc7;
}

.topMenu a {
    color: inherit;
    text-decoration: none;
}

.topMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    padding: 0 15px;
    flex-flow: row-reverse;
}

.copy {
    user-select: none;
    filter: brightness(150%);
    background: inherit;
    cursor: pointer;
    font-weight: 700
}

.lightModeBtn {
    font-size: 30px;
}

.night .code {
    color: #fff;
    background-color: #222;
}

.code {
    background: #ddd;
    display: block;
    padding: 10px 20px;
    margin: 15px 0;
    font-family: 'Ubuntu Mono';
    border-radius: 3px;
    white-space: pre-wrap;
}

.content-md {
    max-width: 1000px;
    padding: 30px;
    margin: 0 auto;
    font-family: Ubuntu;
    white-space: pre-line;
}

.content-md xmp {
    display: inline;
    font-family: inherit;
}

/*Main page*/

body.main-page {
    height: 100vh;
    margin: 0;
    background-image: url('https://images.unsplash.com/photo-1588287055455-9fb0ca7a2d02?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}
body.main-page .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
body.main-page.night {
    background-image: url('https://images.unsplash.com/photo-1535905496755-26ae35d0ae54?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
}
body.main-page.night .block a {
    color: #fff;
}
body.main-page.night .block {
    background: #383838bd;
}
body.main-page .block {
    background: #ffffffbd;
    padding: 20px 30px;
    border-radius: 4px;
    margin: 5px;
}
